@model MyLeoRetailer.Models.BarcodeViewModel

<script src="~/Scripts/Modules/common_methods.js"></script>
<script src="~/Scripts/Modules/Barcode/barcode_validation.js"></script>
<script src="~/Scripts/Modules/Barcode/barcode_event.js"></script>
<script src="~/Scripts/Modules/Barcode/barcode_method.js"></script>


<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li class="active">Barcode Generator</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Generate Barcode</h2>
        </div>
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <div class="row">
        <form role="form" id="frmBarcodeGenerator">

        <div class="col-md-12" style="padding-top: 0px; padding-left: 10px; padding-right: 10px;">

            <div class="block">



                    <input type="hidden" id="hdf_BarcodeId" name="Barcode.Product_SKU_Barcode_Id" />

                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group auto-complete">
                                <span class="label label-primary label-form" style="margin-bottom: 1px;">SKU Code.</span>
                                <div class="input-group">
                                    <input type="text" class="form-control autocomplete-text" id="textSKU_Code" name="SKU" placeholder="SKU code" value="" data-table="Product_SKU_Mapping" data-col="Product_Id,SKU_Code" data-headernames="SKU" />
                                    <span class="input-group-addon"><a href="#" class="text-muted" id="hrefDealer" role="button"><i class="fa fa-search" style="color:#fff;" aria-hidden="true"></i></a></span>
                                    <input type="hidden" id="hdnInventory_Id" value="" name="" class="auto-complete-value" />
                                    <input type="hidden" id="hdnProduct_SKU" value="@Model.Barcode.Product_SKU" name="Barcode.Product_SKU" class="auto-complete-label" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <span class="label label-primary label-form" style="margin-bottom: 1px;">SKU Quantity.</span>
                                <input type="text" id="SKUQnty" class="form-control" placeholder="Enter SKU Quantity." name="Barcode.SKU_Quantity" maxlength="5" />
                            </div>
                        </div>

                        <div class="col-md-4" style="padding-top: 25px; padding-bottom: 0px; padding-right: 0px; padding-left: 0px;">

                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-success active" value="Search" id="btnGenerate">Generate</button>
                                <button type="button" class="btn btn-info active" value="Print" id="btnPrint">Print</button>
                                <button type="button" class="btn btn-warning active" value="PrintAll" id="btnPrintAll">Print All</button>
                                <button type="reset" class="btn btn-danger active" value="Reset" id="btnResetBarcode">Reset</button>
                            </div>
                        </div>

                        </div>



            </div>


        </div>

        @*<div class="col-md-12" id="divDynamicTable" style="background: rgba(0, 0, 0, 0.06); border-top: 1px solid #DDD; padding-top: 0px; padding-bottom:0; margin-bottom: 0; padding-left: 0; padding-right: 0;overflow-y: scroll;height:500px;">



        </div>*@

        <div class="col-md-12" id="divTable" style="background: rgba(0, 0, 0, 0.06); border-top: 1px solid #DDD; padding-top: 0px; padding-bottom:0; margin-bottom: 0; padding-left: 0; padding-right: 0;overflow-y: scroll;height:500px;">
            <div class="row">
                <div class="table-responsive" style="width:100%; margin: 0px 0;">
                    <table class="table" id="tblBarcode">
                        <thead>
                            <tr>
                                <th style="width:5%"></th>
                                <th style="width:25%">Product SKU</th>
                                <th style="width:20%">Product SKU ID</th>
                                <th style ="width:25%">Barcode</th>
                                <th style="width:25%">Barcode Image</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        @*<input type="hidden" id="hdfCurrent_Page" name="@Model.Pager.CurrentPage" value="" />

        <div class="col-md-12 pagination" style="padding: 0px;text-align:center;" id="divBarcodePager">


        </div>*@



        </form>


    </div>

</div>