@model MyLeoRetailer.Models.BranchViewModel


<script src="~/Scripts/Modules/common_methods.js"></script>
<script src="~/Scripts/Modules/Branch/search_Branch_events.js"></script>
<script src="~/Scripts/Modules/Branch/search_Branch_methods.js"></script>

<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li><a href="#">Masters</a></li>
    <li class="active">Branch Management</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Branch Management</h2>
        </div>
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <div class="row">

        <div class="col-md-12" style="padding-top: 0px; padding-left: 10px; padding-right: 10px;">

            <div class="block">

                <form role="form" id="frmBranch">

                    <div class="row">

                        <div class="col-md-4">

                            @*<div class="form-group">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Branch name.</span>
                                    <input type="text" class="form-control" name="Filter.Branch_Name" placeholder="Enter Branch name to search." />
                                    <input type="hidden" id="hdnBranch_ID" name="Branch.Branch_ID" value="@Model.Branch.Branch_ID">
                                </div>*@
                            @* LookUp Code Added by Vinod Mane on 23/09/2016*@
                            <div class="form-group auto-complete">
                                <div class="input-group">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Branch name.</span>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control color-filter autocomplete-text" name="Filter.Branch_Name" id="txtBranch_Name" placeholder="Enter Branch name to search." data-table="Branch" data-col="Branch_ID,Branch_Name" data-headernames="Branch Name">
                                    <span class="input-group-addon">
                                        <a href="#" class="text-muted" id="hrefDealer" role="button">
                                            <i class="fa fa-search" style="color:#fff;" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                    <input type="hidden" id="hdnBranch_ID" name="Filter.Branch_ID" value="@Model.Filter.Branch_ID"> @*Added by Sushant on 07/10/2016*@
                                    <input type="hidden" id="hdnBranchID" value="" name="Filter.Branch_Name" class="auto-complete-value" />

                                </div>
                            </div>
                            @*End*@
                        </div>

                        <div class="col-md-8" style="text-align: right; padding-top: 25px; padding-bottom: 0px; padding-right: 0px; padding-left: 0px;">

                            <div class="btn-group">
                                <button type="button" class="btn btn-success active" value="Create" id="btnCreateBranch">Create</button>
                                @*<button class="btn btn-danger active" type="button" style="display:none" value="Edit" id="btnEditBranch">Edit</button>*@
                                <button role="button" class="btn btn-danger active edit" id="btnEditBranch">Edit</button>
                            </div>

                        </div>

                    </div>

                </form>

            </div>


        </div>

        @*<div class="col-md-12" style="padding: 0px;" id="divDynamicTable">*@
            <div class="col-md-12" id="divDynamicTable" style="background: rgba(0, 0, 0, 0.06); border-top: 1px solid #DDD; padding-top: 0px; padding-bottom:0; margin-bottom: 0; padding-left: 0; padding-right: 0;">

            </div>

        <div class="col-md-12" style="padding: 0px;text-align:center;" id="divBranchPager">

        </div>

    </div>

</div>
