@model MyLeoRetailer.Models.ProductWarehouseViewModel


<script src="~/Scripts/Modules/common_methods.js"></script>
<script src="~/Scripts/Modules/ProductWarehouse/search_ProductWarehouse_event.js"></script>
<script src="~/Scripts/Modules/ProductWarehouse/search_ProductWarehouse_method.js"></script>

<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li><a href="#">Function Module</a></li>
    <li class="active">Product Warehouse</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Product Warehouse</h2>
        </div>
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <div class="row">

        <div class="col-md-12" style="padding-top: 10px; padding-left: 10px; padding-right: 10px;">

            <div class="block">

                <form role="form" id="frmProductWarehouse">

                    <div class="row">

                        <div class="col-md-5">

                            <div class="input-group">
                                <span class="label label-primary label-form" style="margin-bottom: 1px;">Product SKU.</span>
                            </div>
                            <div class="form-group auto-complete">
                                <div class="input-group">

                                    <input type="text" class="form-control color-filter autocomplete-text" id="textSKU_No_0" name="Filter.Product_SKU" placeholder="Enter SKU to search." value="" data-table="Purchase_Invoice_Item" data-col="Purchase_Order_Id,SKU_Code" data-headernames="SKU Code">
                                    <span class="input-group-addon"> <a href="#" class="text-muted" id="hrefDealer" role="button"> <i class="fa fa-search" style="color:#fff;" aria-hidden="true"></i></a></span>
                                    <input type="hidden" id="hdnProduct_SKU"  name="Filter.Product_SKU" class="auto-complete-value" />

                                </div>
                            </div>

                        </div>

                        <div class="col-md-7" style="text-align: right; padding-top: 25px; padding-bottom: 0px; padding-right: 0px; padding-left: 0px;">

                        </div>

                    </div>

                </form>

            </div>


        </div>

        <div class="col-md-12" style="padding: 0px;" id="divDynamicTable">

        </div>

        <div class="col-md-12" style="padding: 0px;text-align:center;" id="divProductWarehousePager">


        </div>

    </div>

</div>