@{
    Layout = null;
}

<html lang="en">

<head>
    <title>Atlant - Responsive Bootstrap Admin Template</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link type="image/x-icon" href="favicon.ico" rel="icon">
    <link rel="stylesheet" type="text/css" id="theme" href="../Content/Atlant/css/theme-default.css" />

</head>

<body>
    <div class="error-container">
        <div class="error-code">404</div>
        <div class="error-text">page not found.</div>
        <div class="error-subtext">Your current login session has exceeded the session time configured in application. We, request you to <a href="/Login/Index">Login</a> again to proceed.</div>
    </div>
</body>


</html>
