@{
    ViewBag.Title = "Search";
}

<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li><a href="#">Masters</a></li>
    <li class="active">Product Management</li>
</ul>
<!-- END BREADCRUMB -->

<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Product Management</h2>
        </div>
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <div class="row">

        <div class="col-md-12" style="padding-top: 20px; padding-left: 10px; padding-right: 10px;">

            <div class="block">

                <form role="form">

                    <div class="row">

                        <div class="col-md-10">

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter product sku code." />
                            </div>

                        </div>

                        <div class="col-md-2" style="text-align: right; padding-top: 0px; padding-bottom: 0px; padding-right: 0px; padding-left: 0px;">

                            <div class="btn-group">
                                <button class="btn btn-success active">Create</button>
                                <button class="btn btn-danger active">Edit</button>
                            </div>

                        </div>

                    </div>

                </form>

            </div>

        </div>

        <div class="col-md-12" style="padding: 0px;">

            <table class="table table-bordered table-hover">

                <thead>

                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                
                </thead>
                
                <tbody>
                    <tr>
                        <td>
                            <label class="switch">
                                <input name="switch-radio1" checked="" type="radio">
                                <span></span>
                            </label>
                        </td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <td>
                            <label class="switch">
                                <input name="switch-radio1" type="radio">
                                <span></span>
                            </label>
                        </td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <td>
                            <label class="switch">
                                <input name="switch-radio1" type="radio">
                                <span></span>
                            </label>
                        </td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <td>
                            <label class="switch">
                                <input name="switch-radio1" type="radio">
                                <span></span>
                            </label>
                        </td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <td>
                            <label class="switch">
                                <input name="switch-radio1" type="radio">
                                <span></span>
                            </label>
                        </td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                </tbody>
           
            </table>

        </div>

        <div class="col-md-12" style="padding: 0px;text-align:center;">

            <ul class="pagination pagination-sm">
                <li class="disabled"><a href="#">First</a></li>
                <li class="disabled"><a href="#">«</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">»</a></li>
                <li><a href="#">Last</a></li>
            </ul>

        </div>

    </div>

</div>
