@{
    ViewBag.Title = "Search";
}

<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li><a href="#">Masters</a></li>
    <li class="active">Product Management</li>
</ul>
<!-- END BREADCRUMB -->

<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Product Management</h2>
        </div>
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <div class="row">

        <div class="col-md-12" style="padding-top: 20px; padding-left: 10px; padding-right: 10px;">

            <div class="block">

                <form role="form" id="frmSearchProduct">

                    <div class="row">

                        <div class="col-md-10">

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter product sku code." name="Product.SKU_Code"/>
                            </div>

                        </div>

                        <div class="col-md-2" style="text-align: right; padding-top: 0px; padding-bottom: 0px; padding-right: 0px; padding-left: 0px;">

                            <div class="btn-group">
                                @*<button class="btn btn-success active">Create</button>*@
                                <a class="btn btn-success active" role="button" href="@Url.Action("Index", "Product")">Create </a>
                                <button class="btn btn-danger active">Edit</button>
                            </div>

                        </div>

                    </div>

                </form>

            </div>

        </div>

        <div class="col-md-12" style="padding: 0px;" id="divDynamicTable">

        </div>

        <div class="col-md-12" style="padding: 0px;text-align:center;" id="divProductPager">
             
        </div>

    </div>

</div>
