@model MyLeoRetailer.Models.PreLogin.LoginViewModel
@using MyLeoRetailerInfo.Common; 

@{
    Layout = null;
}
 
<link href="~/Content/Atlant/css/theme-default.css" rel="stylesheet" />
<style>
    .scroll-bar {
        height: 142px;
        overflow: auto;
    }

        .header_luxe img {
            width: 25%;
            display: block;
            margin: 0 auto;
            padding: 22px 0;
        }
</style>

<html class="body-full-height">
<head>
    <meta charset="UTF-8">
    <title>Login | MyLeo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link href="~/Content/css/login.css" rel="stylesheet" />
    <link href="~/Content/css/ripple.css" rel="stylesheet" />
</head>

<body>

    <div class="header_luxe">
        <img src="~/Images/luxe.JPG" class="img-responsive" alt="" />
    </div>

    <div class="container">
        @*@{Html.RenderPartial("_ServerMessage");}*@
        <div class="card"></div>
        <div class="card">
            <div class="logo">
                <h2>Login</h2>
            </div>
            <form id="frmLogin" action="@Url.Action("Authenticate", "Login")" method="post">
                @*<input type="hidden" name="Cookies.Brand_Name" id="txtUserName" class="form-control input-sm" required="required" value="Mercedes" />*@
                <div class="input-container">
                    <input type="text" name="Cookies.Username" id="txtUserName" class="form-control input-sm" required="required" />
                    <label for="Username">Username</label>
                    <div class="bar"></div>
                </div>
                <div class="input-container">
                    <input type="password" name="Cookies.Password" id="txtPassword" class="form-control input-sm" required="required" />
                    <label for="Password">Password</label>
                    <div class="bar"></div>
                </div>

                <div class="sign"><button type="submit" id="btnLogin" class="btn ripple">Sign In</button></div>
                <div class="footer"><a href="@Url.Action("ForgotPassword", "Login")">Forgot Password</a></div>
            </form>
        </div>
            <div class="login-footer">
                @*<div class="pull-left">
                    &copy; 2014 AppName
                </div>
                <div class="pull-right">
                    <a href="#">About</a> |
                    <a href="#">Privacy</a> |
                    <a href="#">Contact Us</a>
                </div>*@
            </div>
        </div>

    </div>

                    <div class="col-md-5">
                        <div class="login-title">Select Branch</div>

                        <div class="form-group scroll-bar">
                            @*<div class="col-md-12">
                                    <div class="col-md-8">
                                        <label style="color:white;">Select All</label>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="switch">
                                            <input checked value="All" name="Cookies.Branch_Id" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>*@
                                @*@foreach (var item in Model.branch_List)
                                {
                                    <div class="col-md-12">
                                        <div class="col-md-8">
                                            <label style="color:white;">@item.Branch_Name</label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="switch">
                                                <input checked value="@item.Branch_ID" name="Cookies.Branch_Id" type="checkbox">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                }*@
                        </div>

                        <input type="hidden" id="hdnBranch_Ids" name="Cookies.Branch_Ids" value="" />
                    </div>

                </form>
            </div>
            <div class="login-footer">
                <div class="pull-left">
                    &copy; 2014 AppName
                </div>
                <div class="pull-right">
                    <a href="#">About</a> |
                    <a href="#">Privacy</a> |
                    <a href="#">Contact Us</a>
                </div>
            </div>
        </div>

    </div>

</body>

</html>

<script src="~/Scripts/Modules/Login/login-event.js"></script>

<script>

    </script>
