@{
    ViewBag.Title = "Index";
}

<h2>Dashboard</h2>

@*Comment line no 2251: theme-default.css*@

<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <span class="label label-primary label-form" style="margin-bottom: 1px;">Challan No.</span>
                <input type="text" class="form-control" placeholder="Challan No." />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <span class="label label-primary label-form" style="margin-bottom: 1px;">Challan Date</span>
                <div class="input-group date" id="dp-2" data-date="" data-date-format="MM-dd-yyyy">
                    <input type="text" class="form-control datepicker" name="" value="" />
                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <span class="label label-primary label-form" style="margin-bottom: 1px;">Vendor Name</span>
                <select class="form-control select" name="Employee.Employee_Gender">
                    <option value="0">- Select Vendor -</option>
                    <option value="1">a</option>
                    <option value="2">a</option>
                    <option value="3">a</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <span class="label label-primary label-form" style="margin-bottom: 1px;">Address</span>
                <input type="text" class="form-control" placeholder="Address" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <span class="label label-primary label-form" style="margin-bottom: 1px;">VAT No.</span>
                <input type="text" class="form-control" placeholder="VAT No." />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <span class="label label-primary label-form" style="margin-bottom: 1px;">Against Form </span>
                <input type="text" class="form-control" placeholder="Against Form " />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <span class="label label-primary label-form" style="margin-bottom: 1px;">Against Form No.</span>
                <input type="text" class="form-control" placeholder="Against Form No." />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <span class="label label-primary label-form" style="margin-bottom: 1px;">Against Form Date</span>
                <div class="input-group date" id="dp-2" data-date="" data-date-format="MM-dd-yyyy">
                    <input type="text" class="form-control datepicker" name="" value="" />
                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <span class="label label-primary label-form" style="margin-bottom: 1px;">Purchase Packing No.</span>
                <input type="text" class="form-control" placeholder="Purchase Packing No." />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <span class="label label-primary label-form" style="margin-bottom: 1px;">Purchase Packing Date</span>
                <div class="input-group date" id="dp-2" data-date="" data-date-format="MM-dd-yyyy">
                    <input type="text" class="form-control datepicker" name="" value="" />
                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 68px;">Barcode No.</th>
                            <th style="width: 45px;">SKU No.</th>
                            <th style="width: 60px;">Article No.</th>
                            <th style="width: 55px;">Color</th>
                            <th style="width: 55px;">Brand</th>
                            <th style="width: 72px;">Category</th>
                            <th style="width: 72px;">Sub-Category</th>
                            <th style="width: 55px;">Group</th>
                            <th style="width: 86px;">Size</th>
                            <th style="width: 100px;">Qty</th>
                            <th style="width: 112px;">WSR</th>
                            <th style="width:100px;">Total Amount</th>
                            <th style="width:70px;">PO Number</th>
                            <th style="width:125px;">Add New Product</th>
                            <th style="width: 50px;">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <td style="width: 68px;"></td>
                            <td style="width: 45px;"></td>
                            <td style="width: 60px;"></td>
                            <td style="width: 55px;"></td>
                            <td style="width: 55px;"></td>
                            <td style="width: 72px;"></td>
                            <td style="width: 72px;"></td>
                            <td style="width: 55px;"></td>
                            <td style="width: 86px;">
                                <span class="label label-primary label-form" style="margin-bottom: 1px;">Total Qty</span>
                            </td>
                            <td style="width: 100px;">95</td>
                            <td style="width: 112px;">
                                <span class="label label-primary label-form" style="margin-bottom: 1px;">Total Amount</span>
                            </td>
                            <td style="width:100px;">555</td>
                            <td style="width:70px;"></td>
                            <td style="width:125px;"></td>
                            <td style="width: 50px;"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <span class="label label-primary label-form" style="margin-bottom: 1px;">DISCOUNT</span>
                            </td>
                            <td>10%</td>
                            <td>55</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <span class="label label-primary label-form" style="margin-bottom: 1px;">Gross Amount</span>
                            </td>
                            <td>5468</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <span class="label label-primary label-form" style="margin-bottom: 1px;">Tax</span>
                            </td>
                            <td>10%</td>
                            <td>54</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <span class="label label-primary label-form" style="margin-bottom: 1px;">Round Paisa</span>
                            </td>
                            <td>-0.32</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <span class="label label-primary label-form" style="margin-bottom: 1px;">NET Amount</span>
                            </td>
                            <td>6545</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <span class="label label-primary label-form" style="margin-bottom: 1px;">Transport Name </span>
                <input type="text" class="form-control" placeholder="Transport Name " />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <span class="label label-primary label-form" style="margin-bottom: 1px;">Lr No.</span>
                <input type="text" class="form-control" placeholder="Against Form No." />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <span class="label label-primary label-form" style="margin-bottom: 1px;">Lr Date</span>
                <div class="input-group date" id="dp-2" data-date="" data-date-format="MM-dd-yyyy">
                    <input type="text" class="form-control datepicker" name="" value="" />
                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="btn-group">
                <button type="button" class="btn btn-success active" id="btnEmployeeSave">Save</button>
                <button type="reset" class="btn btn-danger active">Reset</button>
            </div>
        </div>
    </div>
</div>