@model MyLeoRetailer.Models.GiftVoucherViewModel

<script src="~/Scripts/Modules/GiftVoucher/search_giftvoucher_events.js"></script>
<script src="~/Scripts/Modules/GiftVoucher/search_giftvoucher_method.js"></script>
<script src="~/Scripts/Modules/common_methods.js"></script>

@{
    ViewBag.Title = "Search";
}

<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li><a href="#">Masters</a></li>
    <li class="active">GiftVoucher Management</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Gift Voucher Management</h2>
        </div>
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <div class="row">

        <div class="col-md-12" style="padding-top: 20px; padding-left: 10px; padding-right: 10px;">

            <div class="block">

                <form role="form" id="frmGiftVoucher">


                    <div class="row">

                        <div class="col-md-5">

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Voucher no to search." name="Filter.Gift_Voucher_No"/>
                                <input type="hidden" id="hdn_GiftVoucherId" name="GiftVoucher.Gift_Voucher_Id" value="@Model.GiftVoucher.Gift_Voucher_Id">

                            </div>

                        </div>

                        <div class="col-md-7" style="text-align: right; padding-top: 0px; padding-bottom: 0px; padding-right: 0px; padding-left: 0px;">

                            <div class="btn-group">
                                <button class="btn btn-success active" type="button" href="@Url.Action("Index", "GiftVoucher")">Create</button>
                                <button class="btn btn-danger active" type="button" id="btnGiftVoucher">Edit</button>
                            </div>

                        </div>

                    </div>

                </form>

            </div>

        </div>

        <div class="col-md-12" style="padding: 0px;" id="divDynamicTable">

        </div>

        <div class="col-md-12" style="padding: 0px;" id="divPager">

        </div>

    </div>

</div>

