@using MyLeoRetailerInfo

<style>

    .ul-topCenter {
        top: 20px;
        left: 636.5px;
        position: fixed;
        width: 310px;
        height: auto;
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        z-index: 10000000;
    }

    .noty-msg {
        font-size: 11px;
        line-height: 14px;
        text-align: center;
        padding: 8px 10px 9px;
        width: auto;
        position: relative;
    }

    .li-top-center {
        overflow: hidden;
        border-radius: 3px;
        opacity: 1;
        width: 310px;
        cursor: pointer;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        color: rgb(255, 255, 255);
    }

    .li-color-information {
        background: rgb(63, 186, 228) none repeat scroll 0% 0%;
        border: 1px solid rgb(63, 186, 228);
    }

    .li-color-error {
        background: rgb(182, 70, 69) none repeat scroll 0% 0%;
        border: 1px solid rgb(182, 70, 69);
    }

    .li-color-success {
        background: rgb(149, 183, 93) none repeat scroll 0% 0%;
        border: 1px solid rgb(149, 183, 93);
    }

    .li-color-warning {
        background: rgb(254, 162, 35) none repeat scroll 0% 0%;
        border: 1px solid rgb(254, 162, 35);
    }

</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('#noty_topCenter_layout_container').delay(5000).queue(function () {
          
            $(this).css('display', 'none');
        
        });
    });
</script>

@if (Model != null && Model.FriendlyMessages != null && Model.FriendlyMessages.Count > 0)
{
    foreach (var msg in Model.FriendlyMessages)
    {
        if (msg != null)
        {
            if (msg.Type == MessageType.Information)
            {
                <ul id="noty_topCenter_layout_container" class="i-am-new ul-topCenter">
                    <li class="li-top-center li-color-information">
                        <div class="noty_bar noty_type_information" id="noty_510241398606609200">
                            <div class="noty_message noty-msg">
                                <span class="noty_text">@msg.Text</span>
                            </div>
                        </div>
                    </li>
                </ul>
            }
            if (msg.Type == MessageType.Error)
            {
                <ul id="noty_topCenter_layout_container" class="i-am-new ul-topCenter" >
                    <li class="li-top-center li-color-error">
                        <div class="noty_bar noty_type_error" id="noty_363898729879327940">
                            <div class="noty_message noty-msg">
                                <span class="noty_text">@msg.Text</span>
                            </div>
                        </div>
                    </li>
                </ul>
            }
            if (msg.Type == MessageType.Success)
            {
                <ul id="noty_topCenter_layout_container" class="i-am-new ul-topCenter">
                    <li class="li-top-center li-color-success">
                        <div class="noty_bar noty_type_success" id="noty_264083774035278530">
                            <div class="noty_message noty-msg">
                                <span class="noty_text">@msg.Text</span>
                            </div>
                        </div>
                    </li>
                </ul>
            }
            if (msg.Type == MessageType.Warning)
            {
                <ul id="noty_topCenter_layout_container" class="i-am-new ul-topCenter" >
                    <li class="li-top-center li-color-warning">
                        <div class="noty_bar noty_type_warning" id="noty_1125259726555880000">
                            <div class="noty_message noty-msg">
                                <span class="noty_text">@msg.Text</span>
                            </div>
                        </div>
                    </li>
                </ul>
            }
        }
    }
}




