@model MyLeoRetailer.Models.PurchaseOrderViewModel


<script src="~/Scripts/Modules/common_methods.js"></script>
<script src="~/Scripts/Modules/PurchaseOrder/search_purchaseorder_events.js"></script>
<script src="~/Scripts/Modules/PurchaseOrder/search_purchaseorder_methods.js"></script>

<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li><a href="#">Function Module</a></li>
    <li class="active">PurchaseOrder Management</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Purchase Order Management</h2>
        </div>
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">



    <div class="row">

        <div class="col-md-12" style="padding-top: 10px; padding-left: 10px; padding-right: 10px;">

            <div class="block">

                <form role="form" id="frmPurchaseOrder">

                    <div class="row">

                        <div class="col-md-5">

                            <div class="form-group">
                                <span class="label label-primary label-form" style="margin-bottom: 1px;">Purchase Order No.</span>
                                <input type="text" class="form-control" name="Filter.Purchase_Order_No" placeholder="Enter Purchase Order No to search." />
                                <input type="hidden" id="hdnPurchaseOrderId" name="PurchaseOrder.Purchase_Order_Id" value="@Model.PurchaseOrder.Purchase_Order_Id" />
                            </div>

                        </div>

                        <div class="col-md-7" style="text-align: right; padding-top: 25px; padding-bottom: 0px; padding-right: 0px; padding-left: 0px;">

                            <div class="btn-group">
                                <button role="button" class="btn btn-success active" value="Create" id="btnCreatePurchaseOrder">Create</button>
                                <button class="btn btn-danger active" value="Edit" id="btnEditPurchaseOrder">View</button>
                                <button class="btn btn-info active" value="View" id="btnViewPurchaseOrder">Print</button>
                            </div>

                        </div>

                    </div>

                </form>

            </div>


        </div>

        <div class="col-md-12" style="padding: 0px;" id="divDynamicTable">

        </div>

        <div class="col-md-12" style="padding: 0px;text-align:center;" id="divPurchaseOrderPager">


        </div>

        @*<div class="col-md-12" style="padding: 0px;" id="divTable">
                <div class="row">
                    <div class="table-responsive" style="width:100%; margin: 0px 0;">
                        <table class="table table-bordered table-hover" id="tblPurchaseOrder">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Order No.</th>
                                    <th>Order Date</th>
                                    <th>Vendor</th>
                                    <th>Shipping Address</th>
                                    <th>Quantity</th>
                                    <th>Amount</th>
                                    <th>Agent</th>
                                    <th>Transporter</th>
                                    <th>Start Supply Date</th>
                                    <th>Stop Supply Date</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>*@



        @*<input type="hidden" id="hdfCurrent_Page" name="@Model.Pager.CurrentPage" value="" />

            <div class="col-md-12 pagination" style="padding: 0px;text-align:center;" id="divPurchaseOrderPager">


            </div>*@

    </div>

</div>