@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/Modules/common_methods.js"></script>
<script src="~/Scripts/Modules/Tax/tax_events.js"></script>
<script src="~/Scripts/Modules/Tax/tax_methods.js"></script>
<script src="~/Scripts/Modules/Tax/Tax_validation.js"></script>


<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li><a href="#">Masters</a></li>
    <li class="active">Tax Management</li>
</ul>
<!-- END BREADCRUMB -->

<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Tax Management</h2>
        </div>
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <div class="row">

        <div class="col-md-6" style="background: rgba(0, 0, 0, 0.02); border-right: 1px solid #DDD; padding: 10px; height: 517px;">

             <h4 style="margin-top: 0px;">Tax listing.</h4>

                <div class="form-group">
                    @*<label>Create / Update size group:</label>*@
                    <input type="text" class="form-control" name="Filter.Tax_Name" placeholder="Enter tax name to search" />
                </div>

               <div class="list-group border-bottom push-down-20" id="Tax_Grid">

               </div>

              <div class="row">
                <div class="col-md-12" style="padding: 0px;text-align:center;" id="divTaxPager">

				</div>
            </div>

                @*<div class="list-group border-bottom push-down-20">
                    <a href="#" class="list-group-item active">Service tax</a>
                    <a href="#" class="list-group-item">GST</a>
                    <a href="#" class="list-group-item">Swatch bharat tax</a>
                    <a href="#" class="list-group-item">Krishi kalyan tax</a>    
                </div>*@

            @*<div class="row">

                <div class="col-md-12" style="padding: 0px;text-align:center;">

            <ul class="pagination pagination-sm">
                <li class="disabled"><a href="#">First</a></li>
                <li class="disabled"><a href="#">«</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">»</a></li>
                <li><a href="#">Last</a></li>
            </ul>

        </div>

            </div>*@

            

        </div>

        <div class="col-md-6" style="padding: 10px; height: 517px;">

            <div class="block">
                <h4 style="margin-top: 0px;">Create - Update tax.</h4>

                <form role="form" id="frmTax">
                    <div class="form-group">
                        @*<label>Create / Update size group:</label>*@
                        <input type="text" class="form-control" placeholder="Enter tax name." name="Tax.Tax_Name" />
                        <input type="hidden" name="Tax.Tax_Id">
                    </div>

                    <div class="form-group">
                        @*<label>Create / Update size group:</label>*@
                        <input type="text" class="form-control" placeholder="Enter tax value (in percentage)." name="Tax.Tax_Value" />
                    </div>

                    <div class="form-group" style="margin-bottom: 5px; float: right;">
                        @*<label>Set Active:</label>*@
                        <label class="switch">
                            <input checked="" value="0" type="checkbox">
                            <span></span>
                        </label>
                    </div>

                    <div style="padding-left: 0px; padding-top: 0px; padding-bottom: 20px; margin-bottom: 15px;">
                        <div class="btn-group">
                            <button type="button" class="btn btn-success active" id="btnSaveTax">Save</button>
                            <button class="btn btn-danger active">Cancel</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>

    </div>

</div>
