@model MyLeoRetailer.Models.RoleViewModel 
           @using MyLeoRetailerInfo.Common;

<script src="/Scripts/Modules/common_methods.js"></script>
<script src="~/Scripts/Modules/Role/role-event.js"></script>
<script src="~/Scripts/Modules/Role/role-method.js"></script>
<script src="~/Scripts/Modules/Role/role-validation.js"></script>

<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li><a href="#">Masters</a></li>
    <li class="active">Role Management</li>
</ul>
<!-- END BREADCRUMB -->

<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Role Management</h2>
        </div>
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <div class="row">

        <div class="col-md-4" style="background: rgba(0, 0, 0, 0.02); border-right: 1px solid #DDD; padding: 10px; height: 517px;">

            <div class="block" style="margin-bottom:0px;">
                <h4 style="margin-top: 0px;">Create - Update role.</h4>

                <form role="form" id="frmRole">
                    <div class="form-group">
                        <input type="text" id="txtRole_Name" name="role.Role_Name" class="form-control" placeholder="Enter role." maxlength="50"/>
                        <input type="hidden" id="hdnRole_Name">
                        <input type="hidden" name="role.Role_Id">
                    </div>

                    <div class="form-group" style="margin-bottom: 5px; float: right;">
                        <label class="switch">
                            <input name="role.Is_Active" value="1" checked type="checkbox" id="Flag">
                            <span></span>
                        </label>
                    </div>

                    <div style="padding-left: 0px; padding-top: 0px; padding-bottom: 20px; margin-bottom: 15px; border-bottom: 1px solid #DDD;">
                        <div class="btn-group">
                            <button class="btn btn-success active" type="button" id="btnSave">Save</button>
                            <button class="btn btn-danger active" type="button" id="btnCancel">Cancel</button>
                        </div>
                    </div>

                </form>

                <h4 style="margin-top: 0px;">Role listing.</h4>

                <div class="form-group">
                    <input type="text" class="form-control" name="Filter.Role" placeholder="Enter role to search" />
                </div>

                <div class="list-group border-bottom push-down-20" id="Role_Grid">

                </div>

            </div>

            <div class="row">

                <div class="col-md-12" style="padding: 0px;text-align:center;" id="divRolePager">

                </div>

            </div>

        </div>

        <div class="col-md-8" style="padding: 10px; height: 517px;">
            <div class="block">
                <h4 style="margin-top: 0px;">Set access functions to. <span class="label label-primary" id="spnRoleName"></span></h4>

                <table class="table table-bordered table-hover" id="tblAccessFunction">

                    <thead>
                        <tr>
                            <th>Access Function</th>
                            @foreach(var item in LookupInfo.Get_Actions())
                            {
                                <th id="@item.Key">@item.Value</th>
                            }
                            
                        </tr>
                    </thead>

                    <tbody>
                     
                    </tbody>

                </table>
            </div>
        </div>

    </div>

</div>
