@{
    ViewBag.Title = "Search";
}

<script src="/Scripts/Modules/common_methods.js"></script>
<script src="~/Scripts/Modules/Employee/search_employee_event.js"></script>
<script src="~/Scripts/Modules/Employee/search_employee_method.js"></script>

<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li><a href="#">Masters</a></li>
    <li class="active">Employee Management</li>
</ul>
<!-- END BREADCRUMB -->

<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Employee Management</h2>
        </div>
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <div class="row">

        <div class="col-md-12" style="padding-top: 20px; padding-left: 10px; padding-right: 10px;">

            <div class="block">

                <form role="form" id="frmEmployee">

                    <div class="row">

                        <div class="col-md-10" style="padding: 0px;">

                            <div class="form-group">
                                <input type="text" class="form-control" name="Filter.Employee" placeholder="Enter employee name to search." />
                                <input type="hidden" class="form-control" id="hdf_EmployeeId" name="Employee.Employee_Id" />
                            </div>

                        </div>

                        <div class="col-md-2" style="text-align: right; padding-top: 0px; padding-bottom: 0px; padding-right: 0px; padding-left: 0px;">

                            <div class="btn-group">
                                @*<button class="btn btn-success active" onclick="location.href='@Url.Action("Index","Employee")'">Create</button>*@
                                @*<a class="btn btn-success active" role="button" href="@Url.Action("Index", "Employee")">Create </a>
                                <button class="btn btn-danger active" style="display:none;" id="btnEdit" >Edit</button>*@

                                <button role="button" class="btn btn-success active" value="Create" id="btnCreateEmployee">Create</button>
                                <button class="btn btn-danger active" value="Edit" id="btnEditEmployee">Edit</button>
                            </div>

                        </div>

                    </div>

                </form>

            </div>

        </div>

        <div class="col-md-12" style="padding: 0px;" id="divDynamicTable">

        </div> 

        <div class="col-md-12" style="padding: 0px;text-align:center;" id="divEmployeePager"> 

        </div>

    </div>

</div>
