@model MyLeoRetailer.Models.SalesReturnViewModel


@{
    ViewBag.Title = "Search";
}


<script src="/Scripts/Modules/common_methods.js"></script>
<script src="~/Scripts/Modules/SalesReturn/salesreturn_search_events.js"></script>
<script src="~/Scripts/Modules/SalesReturn/salesreturn_search_methods.js"></script>



<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li class="active">Sales Return</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Sales Return</h2>
        </div>
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <div class="row">

        <div class="col-md-12" style="padding-top: 20px; padding-left: 10px; padding-right: 10px;">

            <div class="block">

                <form role="form" id="frmSearchSalesReturn">

                    <div class="col-md-12" style="padding-top: 20px; padding-left: 10px; padding-right: 10px;">

                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group auto-complete">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Sales return no</span>
                                    <div class="input-group">
                                        <input type="text" class="form-control invoice-filter autocomplete-text" name="Filter.Sales_Return_No" id="txtSalesReturnNo" placeholder="Enter Sales Return no to search" value="" data-table="Sales_Return" data-col=" Sales_Return_Id,Sales_Return_No" data-headernames="Sales Return No">
                                        <span class="input-group-addon"> <a href="#" class="text-muted" id="hrefDealer" role="button"> <i class="fa fa-search" style="color:#fff;" aria-hidden="true"></i></a></span>
                                        <input type="hidden" id="hdnSalesReturnID" name="Filter.Sales_Return_Id" class="auto-complete-label" />
                                        <input type="hidden" id="hdnSalesReturnNo" name="Filter.Sales_Return_No" class="auto-complete-value" />

                                    </div>

                                </div>
                                @*<div class="form-group">
                                        <input type="text" class="form-control" name="Filter.Sales_Return_No" placeholder="Enter SalesReturn Number to search." />
                                        <input type="hidden" name="Filter.Sales_Return_Id" id="hdnSalesReturnID">
                                    </div>*@

                            </div>

                            <div class="col-md-2" style="text-align: right; padding-top: 27px; padding-bottom: 0px; padding-right: 50px; padding-left: 0px;">

                                <div class="btn-group">
                                    <a class="btn btn-success active" role="button" href="@Url.Action("Index", "SalesReturn")">Create </a>
                                    <button role="button" class="btn btn-danger active" id="btnView">View</button>

                                </div>

                            </div>

                        </div>

                    </div>

                </form>

            </div>

        </div>


        <div class="col-md-12" style="padding-top: 20px; padding-left: 10px; padding-right: 10px;">

        </div>



        <div class="col-md-12" style="padding: 0px;" id="divDynamicTable">

        </div>

        <div class="col-md-12" style="padding: 0px;text-align:center;" id="divSalesReturnPager">

        </div>

    </div>

</div>
