@model MyLeoRetailer.Models.ProductDispatchViewModel

@{
    ViewBag.Title = "Search";
}

<script src="/Scripts/Modules/common_methods.js"></script>
<script src="~/Scripts/Modules/ProductDispatch/search_product_dispatch_event.js"></script>
<script src="~/Scripts/Modules/ProductDispatch/search_product_dispatch_method.js"></script>
<style>
    .input-group-addon {
        background-color: #33414e !important;
        color: #fff !important;
    }

</style>

<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li class="active">Product Dispatch</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Product Dispatch</h2>
        </div>
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <div class="row">

        <div class="col-md-12" style="padding-top: 0px; padding-left: 10px; padding-right: 10px;">

            <div class="block">

                <form role="form" id="frmProductDispatch">                    

                        <div class="row">

                            <input type="hidden" id="hdnRequestId" value="" name="product_Dispatch.Request_Id" />

                            <input type="hidden" id="hdnSKU" value="" name="product_Dispatch.SKU" />

                            <input type="hidden" id="hdnIs_View" value="" name="product_Dispatch.Is_View" />

                            <input type="hidden" id="hdnDispatch_Id" value="" name="product_Dispatch.Dispatch_Id" />

                            <div class="col-md-2">

                                <div class="input-group">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Branch name.</span>
                                </div>
                                <div class="form-group auto-complete">
                                    <div class="input-group">

                                        <input type="text" class="form-control color-filter autocomplete-text" id="txtBranch_Name" placeholder="Enter Branch name to search." data-table="Branch" data-col="Branch_ID,Branch_Name" data-headernames="Branch Name">
                                        <span class="input-group-addon"> <a href="#" class="text-muted" id="hrefDealer" role="button"> <i class="fa fa-search" style="color:#fff;" aria-hidden="true"></i></a></span>
                                        <input type="hidden" id="hdnBranch_Id" name="ProductDispatch.Branch_Id">  @*value="@Model.Customer.Customer_Id"*@
                                        <input type="hidden" id="hdnBranchName" value="" name="Filter.Branch_Name" class="auto-complete-value" />

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <span class="label label-primary label-form" style="margin-bottom: 1px;">From Request Date.</span>
                                <div class="form-group">
                                    <div class="input-group date" id="dp-2" data-date="" data-date-format="mm-dd-yyyy">
                                        <input type="text" class="form-control datepicker" name="fromDate" id="txtFromRequestdate" value="" readonly placeholder="Enter Request Date" />
                                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <span class="label label-primary label-form" style="margin-bottom: 1px;">To Request Date.</span>
                                <div class="form-group">
                                    <div class="input-group date" id="dp-2" data-date="" data-date-format="mm-dd-yyyy">
                                        <input type="text" class="form-control datepicker" name="toDate" id="txtToRequestdate" value="" readonly placeholder="Enter Request Date" />
                                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="input-group">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Status.</span>
                                </div>
                                <div class="form-group">
                                    <select id="drpStatus" class="form-control">
                                        <option value="">- Select Status-</option>
                                        <option>Pending</option>
                                        <option>Dispatch</option>
                                        <option>Partially Dispatch</option>
                                        <option>Free Dispatch</option>

                                    </select>

                                </div>

                            </div>

                            <div class="col-md-4">
                                <div class="btn-group pull-right" style="padding-top: 25px;">
                                    @*  <a class=" btn btn-info active" role="button" id="btnView" style="display:none">
                                    View </a>*@

                                    @*<a class="btn btn-success active" role="button" id="btnDispatch" style="display:none">Dispatch </a>*@

                                    <button role="button" class="btn btn-success active edit" id="btnDispatch">Dispatch</button>

                                    <button type="reset" class="btn btn-danger active" value="Reset" id="btnReset">Reset</button>

                                </div>


                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-5" style="text-align: right; padding-top: 0px; padding-bottom: 0px; padding-right: 0px; padding-left: 0px;">

                                <div class="btn-group pull-right">
                                    <a class="btn btn-info active" role="button" id="btnDateFilter" style="display:none"> <i class="fa fa-calendar"></i>Date range  Filter </a>
                                </div>

                            </div>

                        </div>   
                </form>

            </div>

        </div>

    </div>


    <div class="col-md-12" style="padding-top: 0px; padding-left: 10px; padding-right: 10px;">

    </div>



    
        <div class="col-md-12" id="divDynamicTable" style="background: rgba(0, 0, 0, 0.06); border-top: 1px solid #DDD; padding-top: 0px; padding-bottom:0; margin-bottom: 0; padding-left: 0; padding-right: 0;">

        </div>

    <div class="col-md-12" style="padding: 0px;text-align:center;" id="divProductDispatchPager">

    </div>

</div>

