@model MyLeoRetailer.Models.Report.InventoryViewModel
@using MyLeoRetailer.Common;
@using MyLeoRetailerInfo.Common;


<script src="~/Scripts/Modules/common_methods.js"></script>
<script src="~/Scripts/Modules/Inventory/search_inventory_events.js"></script>
<script src="~/Scripts/Modules/Inventory/search_inventory_methods.js"></script>

<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li><a href="#">Reports</a></li>
    <li class="active">Inventory Report</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Inventory Report</h2>
        </div>
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <div class="row">

        <div class="col-md-12" style="padding-top: 10px; padding-left: 10px; padding-right: 10px;">

            <div class="block">

                <form role="form" id="frmInventory">

                    <div class="row">

                        @{
                            LoginInfo Cookies = new LoginInfo();
                            Cookies = Utility.Get_Login_User("MyLeoLoginInfo", "MyLeoToken", "Branch_Ids");

                            <input type="hidden" id="hdnBranchIDs" value="@Cookies.Branch_Ids" />
                        }

                        <input type="hidden" id="hdntempId" />

                        <input type="hidden" id="hdnInventoryId" name="Filter.Inventory_Id" value="@Model.Inventory.Inventory_Id" />

                        <div class="col-md-4">



                            <div class="form-group auto-complete">
                                <span class="label label-primary label-form" style="margin-bottom: 1px;">Branch Name.</span>
                                <div class="input-group">
                                    <input type="text" class="form-control autocomplete-text" id="textBrand" name="Branch" placeholder="Branch name" value="" data-table="Inventory" data-col="Branch_Id,Branch_Name" data-headernames="Branches" data-param="hdnBranchIDs" data-field="Branch_Id" />
                                    <span class="input-group-addon">
                                        <a href="#" class="text-muted" id="hrefDealer1" role="button">
                                            <i class="fa fa-search" style="color:#fff;" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                    <input type="hidden" id="hdnBranch_Id" value="" name="Filter.Branch_Id" class="auto-complete-value" />
                                    <input type="hidden" id="hdnBranch_Name" value="" name="" class="auto-complete-label" onchange="Set_Branch_Id();" />
                                </div>
                            </div>


                        </div>

                        <div class="col-md-4">


                            <div class="form-group auto-complete">
                                <span class="label label-primary label-form" style="margin-bottom: 1px;">SKU Code.</span>
                                <div class="input-group">
                                    <input type="text" class="form-control autocomplete-text" id="textSKU_Code" name="SKU" placeholder="SKU code" value="" data-table="Inventory_SKU" data-col="Inventory_Id,Product_SKU" data-headernames="Product SKU" data-param="hdntempId" data-field="Branch_Id" />
                                    <span class="input-group-addon"><a href="#" class="text-muted" id="hrefDealer" role="button"><i class="fa fa-search" style="color:#fff;" aria-hidden="true"></i></a></span>
                                    <input type="hidden" id="hdnInventory_Id" value="" name="" class="auto-complete-value" />
                                    <input type="hidden" id="hdnProduct_SKU" value="" name="Filter.Product_SKU" class="auto-complete-label" />
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4" style="text-align: right; padding-top: 25px; padding-bottom: 0px; padding-right: 0px; padding-left: 0px;">

                            <div class="btn-group">
                                <button type="button" class="btn btn-success active" value="Search" id="btnSearchInventory">Search</button>
                                <button type="reset" class="btn btn-danger active" value="Reset" id="btnResetInventory">Reset</button>
                            </div>

                        </div>

                    </div>

                </form>

            </div>


        </div>

        <div class="col-md-12" id="divDynamicTable" style="background: rgba(0, 0, 0, 0.06); border-top: 1px solid #DDD; padding-top: 0px; padding-bottom:0; margin-bottom: 0; padding-left: 0; padding-right: 0;">



        </div>


        <div class="col-md-12" style="padding: 0px;text-align:center;" id="divInventoryPager">


        </div>


    </div>

</div>