@model MyLeoRetailer.Models.Report.InventoryViewModel


<script src="~/Scripts/Modules/common_methods.js"></script>
<script src="~/Scripts/Modules/Inventory/search_inventory_events.js"></script>
<script src="~/Scripts/Modules/Inventory/search_inventory_methods.js"></script>

<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li><a href="#">Reports</a></li>
    <li class="active">Inventory Report</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Inventory Report</h2>
        </div>
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <div class="row">

        <div class="col-md-12" style="padding-top: 10px; padding-left: 10px; padding-right: 10px;">

            <div class="block">

                <form role="form" id="frmInventory">

                    <div class="row">

                        <div class="col-md-5">

                            <div class="form-group">
                                <input type="hidden" id="hdnInventoryId" name="Filter.Inventory_Id" value="@Model.Inventory.Inventory_Id" />
                            </div>

                        </div>

                        <div class="col-md-7" style="text-align: right; padding-top: 25px; padding-bottom: 0px; padding-right: 0px; padding-left: 0px;">

                            <div class="btn-group">
                                <button role="button" class="btn btn-success active" value="Search" id="btnSearchInventory">Search</button>
                            </div>

                        </div>

                    </div>

                </form>

            </div>


        </div>

        <div class="col-md-12" style="padding: 0px;" id="divDynamicTable">

        </div>

        <div class="col-md-12" style="padding: 0px;text-align:center;" id="divInventoryPager">


        </div>


    </div>

</div>