@{
    ViewBag.Title = "Index";
}

<script src="/Scripts/Modules/common_methods.js"></script>
<script src="~/Scripts/Modules/Color/color_events.js"></script>
<script src="~/Scripts/Modules/Color/color_methods.js"></script>
<script src="~/Scripts/Modules/Color/color_validation.js"></script>

<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li><a href="#">Masters</a></li>
    <li class="active">Color Management</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Color Management</h2>
        </div>
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <div class="row" style="background: rgba(0, 0, 0, 0.02); ">

        <div class="col-md-6" style="background: rgba(0, 0, 0, 0.02); border-right: 1px solid #DDD; padding: 10px; height: 517px;">

            <div class="block" style="margin-bottom:0px;">
                <h4 style="margin-top: 0px;">Color listing.</h4>

                <div class="form-group">
                    @*<label>Create / Update size group:</label>*@
                    <input type="text" class="form-control color-filter" name="Filter.Color" placeholder="Enter color to search" />
                </div>

                <div class="list-group border-bottom push-down-20" id="Color_Grid">
                     
                </div>

            </div>

            <div class="row">

                <div class="col-md-12" style="padding: 0px;text-align:center;" id="divColorPager"> 
                    
                </div>

            </div>

        </div>

        <div class="col-md-6" style="padding: 10px; height: 517px;">

            <div class="block">
                <h4 style="margin-top: 0px;">Create - Update color.</h4>

                <form role="form" id="frmColor">
                    <div class="form-group">
                        @*<label>Create / Update size group:</label>*@
                        <input type="text" class="form-control" placeholder="Enter color name." name="Color.Colour" />
                        <input type="hidden" name="Color.Colour_Id">
                    </div>

                    <div class="form-group">
                        <div class="form-group input-group color" data-color="rgb(255, 146, 180)" data-color-format="rgb" id="colorpicker">
                            <input class="form-control" type="text" name="Color.Colour_Code">
                            <span class="input-group-addon"><i id="iRGBColor" style="background-color: rgb(154, 42, 77);"></i></span>
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom: 5px; float: right;">
                        @*<label>Set Active:</label>*@
                        <label class="switch">
                            <input checked="" value="0" type="checkbox">
                            <span></span>
                        </label>
                    </div>

                    <div style="padding-left: 0px; padding-top: 0px; padding-bottom: 20px; margin-bottom: 15px; border-bottom: 1px solid #DDD;">
                        <div class="btn-group">
                            <button class="btn btn-success active" id="btnSaveColor">Save</button>
                            <button class="btn btn-danger active">Cancel</button>
                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>

</div>
