@{
    ViewBag.Title = "Index";
}

<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li><a href="#">Masters</a></li>
    <li class="active">VendorContact Management</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; VendorContact Management</h2>
        </div>
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <div class="row">

        <div class="col-md-3" style="background: rgba(0, 0, 0, 0.02); border-right: 1px solid #DDD; padding: 10px; height: 475px;">

            <div class="block" style="border-bottom: 1px solid #DDD; padding-bottom:20px;margin-bottom:0px; ">

                <h4 style="margin-top: 0px;">Select vendor.</h4>

                <form role="form">

                    <div class="form-group">
                        <select class="form-control select" placeholder="Select Vendor.">
                            <option>Vendor1</option>
                            <option>Vendor2</option>
                        </select>
                    </div>

                </form>
            </div>

           

            <div class="block">

                <h4 style="margin-top: 15px;">Primary information.</h4>

                <form role="form">

                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Enter first name." />

                    </div>

                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Enter last name." />

                    </div>

                    @*<div class="form-group">
                        <select class="form-control select" placeholder="Select gender.">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Date of birth.</span>
                        <div class="input-group date" id="dp-2" data-date="05-07-2014" data-date-format="dd-mm-yyyy">
                            <input type="text" class="form-control datepicker" value="05-07-2014" disabled="disabled" />
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>*@
                </form>
            </div>

        </div>

        <div class="col-md-3" style="background: rgba(0, 0, 0, 0.02); border-right: 1px solid #DDD; padding: 10px; height: 475px;">

            <div class="block">
                <h4 style="margin-top: 0px;">Address.</h4>

                <form role="form">

                    <div class="form-group">
                        <textarea class="form-control" rows="5" placeholder="Address."></textarea>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter city." />
                    </div>

                    <div class="form-group">
                        <select class="form-control select" placeholder="Select state.">
                            <option>Maharashtra</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter country." />
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter pincode." />
                    </div>

                </form>
            </div>

        </div>

        @*<div class="col-md-2" style="background: rgba(0, 0, 0, 0.02); border-right: 1px solid #DDD; padding: 10px; height: 475px;">

            <div class="block">
                <h4 style="margin-top: 0px;">Shipping address.</h4>

                <form role="form">

                    <div class="form-group">
                        <textarea class="form-control" rows="5" placeholder="Shipping address."></textarea>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter city." />
                    </div>

                    <div class="form-group">
                        <select class="form-control select" placeholder="Select state.">
                            <option>Maharashtra</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter country." />
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter pincode." />
                    </div>

                </form>
            </div>

        </div>*@

        <div class="col-md-2" style="background: rgba(0, 0, 0, 0.02); border-right: 1px solid #DDD; padding: 10px; height: 475px;">

            <div class="block">
                <h4 style="margin-top: 0px;">Communication detail.</h4>

                <form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter mobile number 1." />
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter mobile number 2." />
                    </div>

                    @*<div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter landline number 1." />
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter landline number 2." />
                    </div>*@

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter email address." />
                    </div>
                </form>
            </div>

        </div>

        @*<div class="col-md-2" style="background: rgba(0, 0, 0, 0.02); border-right: 1px solid #DDD; padding: 10px; height: 475px;">

            <div class="block">

                <h4 style="margin-top: 0px;">Secondary information.</h4>

                <form role="form">

                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Enter spouse name." />

                    </div>

                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Spouse date of birth.</span>
                        <div class="input-group date" id="dp-2" data-date="05-07-2014" data-date-format="dd-mm-yyyy">
                            <input type="text" class="form-control datepicker" value="05-07-2014" disabled="disabled" />
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Wedding annniversary date.</span>
                        <div class="input-group date" id="dp-2" data-date="05-07-2014" data-date-format="dd-mm-yyyy">
                            <input type="text" class="form-control datepicker" value="05-07-2014" disabled="disabled" />
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>

                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Enter child 1. name." />

                    </div>

                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Child 1. date of birth.</span>
                        <div class="input-group date" id="dp-2" data-date="05-07-2014" data-date-format="dd-mm-yyyy">
                            <input type="text" class="form-control datepicker" value="05-07-2014" disabled="disabled" />
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>

                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Enter child 2. name." />

                    </div>

                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Child 2. date of birth.</span>
                        <div class="input-group date" id="dp-2" data-date="05-07-2014" data-date-format="dd-mm-yyyy">
                            <input type="text" class="form-control datepicker" value="05-07-2014" disabled="disabled" />
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>

                </form>
            </div>

        </div>*@

        <div class="col-md-12" style="background: rgba(0, 0, 0, 0.02);padding-left: 20px; padding-right:0px; padding-top: 20px; padding-bottom: 20px; margin-bottom: 15px; border-top: 1px solid #DDD; border-bottom: 1px solid #DDD;">

            <div class="btn-group">
                <button class="btn btn-success active">Save</button>
                <button class="btn btn-danger active">Cancel</button>
            </div>

        </div>

    </div>

</div>

