@model MyLeoRetailer.Models.VendorContactViewModel

@{
    ViewBag.Title = "Search";
}
<script src="~/Scripts/Modules/VendorContact/search_vendorcontact_events.js"></script>
<script src="~/Scripts/Modules/VendorContact/search_vendorcontact_methode.js"></script>
<script src="~/Scripts/Modules/common_methods.js"></script>

<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li><a href="#">Masters</a></li>
    <li class="active">VendorContact Management</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Vendor Contact Management</h2>
        </div>
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <div class="row">

        <div class="col-md-12" style="padding-top: 0px; padding-left: 10px; padding-right: 10px;">

            <div class="block">

                <form role="form" id="frmVendorContact">

                    <div class="row">

                        <div class="col-md-4">

                            @*<div class="form-group">
                                <span class="label label-primary label-form" style="margin-bottom: 1px;">Vendor contact name</span>
                                <input type="text" class="form-control" placeholder="Enter Vendor Contact name to search." name="Filter.Vendor_Contact_Name" />
                                <input type="hidden" id="hdnVendorContact_Id" name="VendorContact.VendorContact_Id" value="@Model.VendorContact.VendorContact_Id">

                            </div>*@
                            @*Added by vinod mane on 20/09/2016*@

                            <div class="input-group">
                                <span class="label label-primary label-form" style="margin-bottom: 1px;">Vendor contact name.</span>
                            </div>

                            <div class="form-group auto-complete">
                                <div class="input-group">
                                    <input type="text" class="form-control color-filter autocomplete-text" name="Filter.Vendor_Contact_Name" id="txtVendor_Contact_Name" placeholder="Enter Vendor Contact name to search." data-table="VendorContact" data-col="VendorContact_Id,Vendor_Contact_Name" data-headernames="Vendor Contact">
                                    <span class="input-group-addon"> <a href="#" class="text-muted" id="hrefDealer" role="button"> <i class="fa fa-search" style="color:#fff;" aria-hidden="true"></i></a></span>
                                    <input type="hidden" name="VendorContact.VendorContact_Id" id="hdnVendorContact_Id">                                   
                                    <input type="hidden" id="hdnVendorContactId" value="" name="Filter.Vendor_Contact_Name" class="auto-complete-value" />
                                    @*<input type="hidden" id="hdnVendorContactName" value="" name="Filter.Vendor_Contact_Name" class="auto-complete-label" />*@
                                </div>
                            </div>
                            @*End*@
                        </div>

                        <div class="col-md-8" style="text-align: right; padding-top: 25px; padding-bottom: 0px; padding-right: 0px; padding-left: 0px;">

                            <div class="btn-group">
                                
                                <button type="button" class="btn btn-success active" value="Create" id="btncreateVC" @*onclick="location.href='@Url.Action("Index", "VendorContact")'"*@>Create</button>
                                @*<button type="button" class="btn btn-danger active" style="display:none;" id="btnVendorContact">Edit</button>*@
                                <button role="button" class="btn btn-danger active edit" id="btnVendorContact">Edit</button>
                            </div>

                        </div>

                    </div>

                </form>

            </div>

        </div>


        <div class="col-md-12" id="divDynamicTable" style="background: rgba(0, 0, 0, 0.06); border-top: 1px solid #DDD; padding-top: 0px; padding-bottom:0; margin-bottom: 0; padding-left: 0; padding-right: 0;">
        </div>
       
        <div class="col-md-12" style="padding: 0px;text-align:center;" id="divVendorContactPager">


        </div>

    </div>

</div>
