@model MyLeoRetailer.Models.AlterationViewModel

<script src="~/Scripts/Modules/Alteration/search_Alteration_events.js"></script>
<script src="~/Scripts/Modules/Alteration/search_Alteration_methods.js"></script>
<script src="~/Scripts/Modules/common_methods.js"></script>

@{
    ViewBag.Title = "Search";
}

<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li><a href="#">Function Modules</a></li>
    <li class="active">Alteration Management</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Alteration Management</h2>
        </div>
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <div class="row">

        <div class="col-md-12" style="padding-top: 0px; padding-left: 10px; padding-right: 10px;">

            <div class="block">

                <form role="form" id="frmAlteration">

                    <div class="row">

                        @*<div class="col-md-5">

                            <div class="form-group">
                                <input type="text" class="form-control" name="Filter.Invoice_No" placeholder="Enter Invoice No to search." />
                                <input type="hidden" id="hdnAlteration_ID" name="Alteration.Alteration_ID" value="@Model.Alteration.Alteration_ID">
                            </div>

                        </div>*@

                        <div class="col-md-4">

                            @*<div class="form-group">
                                <span class="label label-primary label-form" style="margin-bottom: 1px;">Mobile no</span>
                                <input type="text" class="form-control" name="Filter.Customer_Mobile_No" placeholder="Enter customer mobile number to search." />
                                <input type="hidden" id="hdnAlteration_ID" name="Alteration.Alteration_ID" value="@Model.Alteration.Alteration_ID">
                            </div>*@
                            @* LookUp Code Added by Vinod Mane on 28/09/2016*@

                            <span class="label label-primary label-form" style="margin-bottom: 1px;">Mobile no</span>@* Added by Vinod mane on 19/09/2016*@

                            <div class="form-group auto-complete">
                                <div class="input-group">

                                    <input type="text" class="form-control color-filter autocomplete-text" name="Filter.Customer_Mobile_No" id="txtCustomer_Mobile_No" placeholder="Enter customer mobile number to search." data-table="Alteration" data-col="Alteration_ID,Customer_Mobile_No" data-headernames="Mobile No.">
                                    <span class="input-group-addon"> <a href="#" class="text-muted" id="hrefDealer" role="button"> <i class="fa fa-search" style="color:#fff;" aria-hidden="true"></i></a></span>
                                    @*<input type="hidden" name="Filter.Vendor_Id" id="hdnVendorID">*@
                                    <input type="hidden" id="hdnAlteration_ID" name="Filter.Alteration_ID" value="@Model.Filter.Alteration_ID">
                                    <input type="hidden" id="hdnCustomer_Mobile_No" value="" name="Filter.Customer_Mobile_No" class="auto-complete-value" />

                                </div>
                            </div>
                            @*End*@

                        </div>

                        <div class="col-md-8" style="text-align: right; padding-top: 25px; padding-bottom: 0px; padding-right: 0px; padding-left: 0px;">

                            <div class="btn-group">
                               
                                <button role="button" class="btn btn-success active" value="Create" id="btncreateA" @*onclick="location.href='@Url.Action("Index", "VendorContact")'"*@>Create</button>
                                @*<button class="btn btn-danger active" role="button" style="display:none;"  value="Edit" id="btnEditAlteration">Edit</button>*@
                                <button role="button" disabled class="btn btn-danger active edit" id="btnEditAlteration">Edit</button>
                            </div>

                        </div>

                    </div>

                </form>

            </div>


        </div>

        @*<div class="col-md-12" style="padding: 0px;" id="divDynamicTable">*@
            <div class="col-md-12" id="divDynamicTable" style="background: rgba(0, 0, 0, 0.06); border-top: 1px solid #DDD; padding-top: 0px; padding-bottom:0; margin-bottom: 0; padding-left: 0; padding-right: 0;">

            </div>

        <div class="col-md-12" style="padding: 0px;text-align:center;" id="divAlterationPager">

        </div>

    </div>

</div>
